.titulo-principal{
    padding: 30px;
    font-size: 40px;
    font-weight: bold;
    background: #e9e9e9;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.1em rgb(173, 173, 173)
}

.menu{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background: #000000;
    padding: 15px;
    text-shadow: 0.1em 0.1em 0.1em rgb(60, 60, 60)
}

nav{
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.menu a:hover{
    cursor: pointer;
    color: #075200;
}

#foto{
    width: 10%;
    border-radius:50%;
    display: block;
    margin: 0px auto;
    border: 2px solid #000000;
}

#linkedin, #github{
    width: 2%;
}

.banner-principal{
    background: url(Images/bannerportafolio3.jpg);
    padding: 40px;
}

.banner-principal p{
    font-size: 25px;
    color: #FFFFFF;
    padding: 10px;
    text-shadow: 0.1em 0.1em 0.1em rgb(80, 80, 80)
}

.principal{
    background: #e9e9e9;
    padding: 40px;
}

.titulo-sobre-mi{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    text-shadow: 0.1em 0.1em 0.1em rgb(173, 173, 173)
}

p{
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

em strong{
    color: red;
}

#mision{
    font-size: 18px;
    text-shadow: 0.1em 0.1em 0.1em rgb(186, 186, 186)
}

.banner-proyectos{
    background: url(Images/portafolio2.jpg);
    background-position: center;

}

.titulo-proyectos-personales{
    font-size: 30px;
    padding: 40px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0.1em 0.1em 0.1em rgb(120, 120, 120)
}

.items{
    padding-bottom: 60px;
}

.items li{
    text-align: center;
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 30px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
    text-decoration: none;
}

.items li:hover{
    border-color: #08a600;
    cursor: pointer;
}

.items li p{
    font-style: italic;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    text-shadow: 0.1em 0.1em 0.1em rgb(0, 6, 96)
}

#Python{
    width: 20%;
}

#HTML-CSS{
    width: 40%;
}

#HACKED{
    width: 25%;
}

.Copyright{
    font-size: 13px;
    margin: 5px;
}
