/*Aqui comienza el contenido*/
#foto{
    width: 10%;
    min-width: 100px;
    border-radius:50%;
    display: block;
    margin: 0px auto;
    border: 2px solid #000000;
}

.botones-redes {
    text-align: center;
}

#linkedin, #github{
    margin-top: 25px;
    width: 3%;
    min-width: 40px;
}

.linea-principal{
    background: url(../../img/bannerportafolio3.jpg);
    padding: 40px;
}

.linea-principal p{
    font-size: 25px;
    color: #ececec;
    padding: 10px;
    text-shadow: 0.1em 0.1em 0.1em rgb(80, 80, 80)
}

/*Aca comienza la segunda linea*/
.linea-secundaria{
    background: lightgrey;
    padding: 40px;
}

.titulo-sobre-mi{
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    text-shadow: 0.1em 0.1em 0.1em rgb(173, 173, 173)
}

p{
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

em strong{
    color: red;
}

#mision{
    font-size: 18px;
    text-shadow: 0.1em 0.1em 0.1em rgb(186, 186, 186)
}

/*aca comienza la tercera linea*/
.linea-tercera{
    background: url(../../img/portafolio2.jpg);
    background-position: center;

}

.titulo-proyectos-personales{
    font-size: 30px;
    padding: 30px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0.1em 0.1em 0.1em rgb(120, 120, 120)
}

.items{
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    align-items: center;
    text-align: center;
}

.items li{
    padding: 15px;
    display: inline-block;
    width: 90%;
    min-width: 140px;
    height: 90%;
    min-height: 165px;
    max-height: 180px;
    border: 2px solid #000000;
    border-radius: 10px;
    text-decoration: none;
}

.items li:hover{
    border-color: #08a600;
    cursor: pointer;
}

.items li p{
    font-style: italic;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0.1em 0.1em 0.1em rgb(0, 6, 96)
}

.items a {
    padding: 0 auto 0 auto;
}

#Python{
    width: 20%;
    min-width: 50px;
    margin: 15px;
}

#HTML-CSS{
    width: 35%;
    min-width: 100px;
    margin: 15px;
}

#HACKED{
    width: 25%;
    min-width: 90px;
    margin: 15px;
}