/*Aqui comienza el contenido*/
.linea-principal{
    background: url(../../img/bannerportafolio3.jpg);
    background-size: cover;
    padding: 40px;
    text-align: center;
}

#foto{
    width: 10rem;
    border-radius:50%;
    border: 0.5px solid #000000;
}

.linea-principal p{
    font-size: 2rem;
    color: whitesmoke;
    text-shadow: 0.1em 0.1em 0.1em rgb(80, 80, 80)
}

#linkedin, #github{
    margin-top: 25px;
    width: 3rem;
}

/*Aca comienza la segunda linea*/
.linea-secundaria{
    background: whitesmoke;
    padding: 40px;
    text-align: center;
}

.titulo-sobre-mi{
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;
    text-shadow: 0.1em 0.1em 0.1em rgb(173, 173, 173)
}

p{
    font-size: 1.5rem;
    padding: 10px;
}

em strong{
    color: red;
}

#mision{
    text-shadow: 0.1em 0.1em 0.1em rgb(186, 186, 186)
}

/*aca comienza la tercera linea*/
.linea-tercera{
    background: url(../../img/portafolio2.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    padding: 50px;
}

.titulo-proyectos-personales{
    font-size: 2rem;
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 0.1em 0.1em 0.1em rgb(120, 120, 120);
    margin-bottom: 35px;
}

.items{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    text-align: center;
}

.items a{
    background-color: whitesmoke;
    width: 80%;
    border: 3px solid #000000;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px;
    margin: 0 auto;
}


.items a:hover{
    border-color: #08a600;
    cursor: pointer;
}

.items p{
    color: #000000;
    font-size: 1.4rem;
    font-weight: bold;
}

#Python, #HTML-CSS, #HACKED{
    max-height: 60px;
    margin: 10px;
}

#HTML-CSS, #HACKED {
    max-height: 80px;
}