html {
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

/*Aqui comienza el contenido*/
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.text__container {
    margin: 20px auto;
    text-align: left;
}

.hello {
    font-size: 40px;
    margin: 5px auto;
}

.name {
    font-size: 50px;
    margin: 5px auto;
    text-shadow: 0.1em 0.1em 0.1em rgb(173, 173, 173);
}

.dev {
    font-size: 24px;
    margin: 15px 0;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2.5s steps(22) 1s 1 normal both;
}

.img__dev {
    margin: auto;
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}

.btn__cv {
    background-color: white;
    border: none;
    border-radius: 30px;
    width: 150px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 1px 3px 10px #000000;
    color: dimgrey;
    margin: 25px auto;
}

.btn__cv:hover {
    cursor: pointer;
    color: #000000;
}

.btn__cv:active {
    box-shadow: none;
}

img {
    width: 500px;
}

/*Aca comienza la segunda linea*/
.section__two {
    background: whitesmoke;
    text-align: center;
}

h2, h3, h4, h5{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 45px auto;
    text-shadow: 0.1em 0.1em 0.1em rgb(173, 173, 173);
}

.skills__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.square__white {
    background-color: white;
    box-shadow: 1px 3px 10px #000000;
    width: 300px;
    height: 200px;
    border: 1px solid gray;
    border-radius: 15px;
    margin: 0 auto 25px auto;
}

.square__white:hover {
    cursor: pointer;
    border: 2px solid grey;
}

.img__square {
    width: 150px;
    margin: 15px auto 5px auto;
}

a {
    text-decoration: none;
    color: #000000;
}

a:visited {
    color: #000000;
}

.description {
    font-size: 20px;
    font-weight: bold;
}

hr {
    margin: 35px auto;
}

/*seccion three*/
.section__three {
    text-align: center;
}

.imgs__formacion--hidden {
    transition: opacity linear 0.7s;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imgs__formacion {
    transition: opacity linear 0.7s;
    opacity: 1;
}

.imgs__formacion {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.img__ciisa {
    width: 250px;
}

.img__one {
    width: 400px;
}

.img__alura {
    width: 350px;
}

/*section fourt*/
.section__fourt {
    text-align: center;
}

.img__portfolio {
    width: 100px;
    margin: 25px;
}

.img__admin {
    width: 100px;
    margin: 25px;
}

.imgs__contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 33.33%;
    margin: 0 auto;
}

.img__github, .img__linkedin, .img__gmail {
    width: 70px;
}

.img__github:hover, .img__linkedin:hover, .img__gmail:hover {
    /*
    animation-duration: 0.5s;
    animation-name: bailar;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    */
    animation: 0.5s infinite alternate bailar;
}

@keyframes bailar {
    from {
        transform: rotate(10deg);
    }

    to {
        transform: rotate(-10deg);
    }
}