body {
    background-color: whitesmoke;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
}

/*Aqui comienza el contenido*/
.section__one {
    text-align: left;
    margin-top: 50px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text__container {
    margin: 100px;
}

.hello {
    font-size: 40px;
    margin: 5px auto;
}

.name {
    font-size: 50px;
    margin: 5px auto;
}

.btn__cv {
    border: none;
    border-radius: 30px;
    width: 150px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 1px 3px 10px #000000;
    color: dimgrey;
    margin: 25px auto;
}

.btn__cv:hover {
    cursor: pointer;
    color: #000000;
}

.btn__cv:active {
    box-shadow: none;
}

.dev {
    font-size: 24px;
    margin: 15px auto;
}

img {
    width: 500px;
}

.separator {
    margin: 0 auto;
}

/*Aca comienza la segunda linea*/
.section__two {
    background: whitesmoke;
    text-align: center;
}

h2, h3, h4, h5{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 45px auto;
    text-shadow: 0.1em 0.1em 0.1em rgb(173, 173, 173);
}

.skills__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.square__white {
    background-color: white;
    box-shadow: 0.1em 0.1em 0.1em rgb(173, 173, 173);
    width: 300px;
    height: 200px;
    border: 1px solid gray;
    border-radius: 15px;
    margin: 0 auto 25px auto;
}

.square__white:hover {
    cursor: pointer;
    border: 2px solid grey;
}

.img__square {
    width: 150px;
    margin: 15px auto 5px auto;
}

.description {
    font-size: 20px;
    font-weight: bold;
}

hr {
    margin: 35px auto;
}

/*seccion three*/
.section__three {
    text-align: center;
}

.imgs__formacion, .imgs__contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: auto;
}

.img__ciisa {
    width: 250px;
}

.img__one {
    width: 400px;
}

.img__alura {
    width: 350px;
}

/*section fourt*/
.section__fourt {
    text-align: center;
}

.img__github, .img__linkedin, .img__gmail {
    width: 100px;
    margin: 25px 45px;
}

/*Configuracion responsiva*/
@media (max-width: 600px) {
    #foto {
        width: 7rem;
        border-radius:50%;
        border: 0.5px solid #000000;
    }

    #nombre {
        font-size: 1.8rem;
    }

    .section__one {
        padding: 40px 0;
    }

    .section__one p{
        font-size: 1.5rem;
        color: whitesmoke;
        text-shadow: 0.1em 0.1em 0.1em rgb(26, 26, 26);
    }

    #habilidades {
        font-size: 23px;
        padding: 0;
    }

    .section__two {
        padding: 40px 0;
    }

    .titulo__sobre--mi {
        font-size: 35px;
    }

    .section__two p {
        font-size: 17px;
    }

    #detalles {
        font-size: 15px;
    }

    .titulo__formacion {
        font-size: 25px;
    }

    .imgs__formacion {
        display: grid;
    }

    .img__one {
        width: 250px;
    }

    .img__alura {
        width: 250px;
    }

    .section__three {
        padding: 20px 0;
    }

    .items {
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
    }

    .items a {
        margin: 5px;
        padding: 0;
    }

    .items a:nth-of-type(1) {
        order: 2;
    }
}